@import "tailwindcss";
@import "@heroui/styles"; 

.container {
  max-width: 1280px;
  margin: auto;
  padding-inline: 16px;
}

body {
  background: #f5f7fb;
}

input,
textarea,
select {
  outline: none;
}

button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.02);
}

